body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 20px;
}

header {
  padding: 10px;
  text-align: center;
}

header img {
  max-width: 100%;
  height: auto;
}

nav {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  color: #000000;
}

nav a:hover {
  text-decoration: underline;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.card h2 {
  margin-bottom: 10px;
  color: #333;
}
.form-container{
  padding: 20px 0px;
}
.motor-data {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}
.form-container form div, .filters div{
  padding: 10px 0;
}